---
layout: default
---

<div class="page-container">

  <div class="masthead-container">
      <img class="logo"src="assets/img/logo.svg" alt="">
  </div>
  <div class="newest-post-container">
  {% for post in site.posts offset: 0 limit: 1 %}
    <div class="post-description-container">
      <h1 class="post-title-index "><a class="link titleh1" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      <time class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>
      <p class="meta-description">{{ post.meta-description }}</p>
    </div>
    <div class="img-container">
      <img class="index-img" src="assets/img/posts/{{post.image}}" alt="">
    </div>
  {% endfor %}
  </div>
  <div class="post-list-container-outer">

      {% for post in site.posts offset: 1 limit: 10 %}
      <div class="post-list-container-inner">
        <div class="small-post-description-container">
          <h2><a class="link small-post-title titleh2" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <time class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>
          <p class="small-meta-description">{{ post.meta-description }}</p>
        </div>
        <div class="img-small-post-container">
            <img class="post-image-small" src="assets/img/posts/{{post.image}}" alt="">
        </div>
      </div>
      {% endfor %}

  </div>
</div>
