.post
  margin-left: 15%
  margin-right: 15%
  line-height: 1.9
  text-align: justify

.post-header
  text-align: center


.meta-post
  text-align: right
  margin-right: 15%

.post-image-container
  text-align: center
  margin: 20px 0px

.post-image
  max-width: 100%
  height: auto
  display: inline-block

.post-image-container-left
  max-width: 50%
  float: left
  padding-right: 20px
  padding-top: 10px

.post-image-container-right
  max-width: 50%
  float: right
  padding-left: 20px
  padding-top: 10px

.post-return
  text-align: center
  display: block
  background-color: white
  margin: 0 10% 10px 10%
  padding: 20px 0
  font-size: 25px
  text-decoration: none

  &:hover
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2)
    transition: all 0.3s ease-in-out
    text-decoration: none





@media (max-width: 600px)
  .post-header
    font-size: 25px
